spring:
  datasource:
    url: "jdbc:postgresql://localhost:5430/postgres?reWriteBatchedInserts=true"
    username: "root"
    password: "root"

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
        generate_statistics: true
      order_inserts: true
      order_updates: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB